{{#if addNewPost}}
  <h1>New Post</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{input value=price id="price"}}
      </div>

      <div class="form-group">
        <label for="calorie">Calorie</label>
        {{input value=calorie id="calorie"}}
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>

      <button {{action 'savePost1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
